/* setup */
* {
    margin: 0;
    font-size: 16pt;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, helvetica, arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:rgba(0, 0, 0, 0.8);
}

:root {
}  


/* structure */

body{
    padding-top: 70pt;
}

#menu{
    padding: 20pt 0 10pt 0;
    border-bottom: #eeeeee solid 1pt;
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
    z-index: 30;
}

.wrapper{
    display: flex;
    margin-left:30pt;
}   

/* i wanted the horizontally scrolling sections to not cut off l/r
on large screens, so i use margins on child elements instead of padding 
around parent elements for spacing */
@media only screen and (min-width: 1200pt) {
    .wrapper {
        margin-left: calc((100vw - 1200pt) / 2) ;
    }
}

section{
    border-bottom: #eeeeee 1pt solid;
    padding: 30pt 0 10pt 0;
    width:100%;
    overflow:hidden;
    max-height:400pt;
    transition: max-height 1s cubic-bezier(0.68, -0.2, 0.32, 1.2);
}
section:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.01);
}

section.open{
    max-height:2000pt;
}

.scrollContainer{
    margin-bottom:20pt;
    overflow: scroll;
}


.card{
    margin-left: -17pt;
    margin-right: 30pt;
    padding: 20pt 15pt 15pt 15pt;
    min-width:290pt;
    border:solid 2pt;
    border-color: #00000000;
    transition: border-color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 4pt;

}

.open .card{
}

.card:hover{
    border-color: #00000007;
}


footer{
    width: 100%;
    border-top: 1pt solid #eeeeee;
    padding: var(--padding);
}




/* styling */


h2{
    margin-bottom: 20pt;
}

h3{
    margin-bottom: 6pt;
}

h4{
    margin-bottom: 25pt;
    opacity: 0.5;
    font-weight: 500;
}
p{
    margin-bottom: 8pt;
    line-height: 22pt;
}
span.sudoh4{
    opacity: 0.5;
    font-weight: 500;
}

/* inline styles */
span.highlight{
    background:rgba(255, 255, 141, 0.249);
    font-weight:500;
    color: rgb(60 60 60);
    margin-left: -3pt;
    border-radius: 5pt;
    padding: 0 3pt 3pt 3pt;
}

span.code{
    font-family: monospace;
    font-weight: 700;
    margin-left: -3pt;
    color: #594bba;
    background: #54545415;
    border-radius: 5pt;
    padding: 0 3pt 3pt 3pt;
}




/*      */
/* MISC */

/* Fix for swipe to go back/forward */
html, body {
    overscroll-behavior-x: none;
}

/* Chevron SVG icon */

#chevron {
    position: relative;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    height: 10pt;
    width: 30pt;
    display: inline-block;
  }

#chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: red;
    transform: skew(0deg, 28deg);
  }

#chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: red;
    transform: skew(0deg, -28deg);
}