/* setup */
:root {
    --colorBg: #ffffff;
    --colorBorder: #F1F2F5;
    --colorAccent: rgba(255, 46, 0, 1);
    --colorAccent2: #c76955;
    --colorAccent3: rgba(255, 46, 0, 0.05);
    --color1: #585757; /* Text main */
    --color2: #68686e; /* P */
    --color3: #a1a5b1; 
    --color4: #F1F2F5;
    --color5: #f9f9f9;

    --svgColorFilter: invert(39%) sepia(71%) saturate(7493%) hue-rotate(1deg) brightness(101%) contrast(106%);
}

* {
    margin: 0;
    font-size: 15pt;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-weight:550;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color1);
}





/* structure */

body{
    padding-top: 70pt;
}

#menu{
    padding: 30pt 0 15pt 0;
    border-bottom: var(--colorBorder) solid 1pt;
    position: fixed;
    top:0;
    background-color: var(--colorBg);
    width: 100%;
    z-index: 30;
}

.wrapper{
    display: flex;
    margin-left:30pt;
}   

/* i wanted the horizontally scrolling sections to not cut off l/r
on large screens, so i use margins on child elements instead of padding 
around parent elements for spacing */
@media only screen and (min-width: 1200pt) {
    .wrapper {
        margin-left: calc((100vw - 1200pt) / 2) ;
    }
}

section{
    border-bottom: #eeeeee 1pt solid;
    padding: 0 0 10pt 0;
    width:100%;
    cursor:pointer;
    overflow:hidden;
    max-height:300pt;
    transition: all 1s cubic-bezier(0.68, -0.2, 0.32, 1.2);
    transition-property: box-shadow, max-height;
    position: relative;
    box-shadow:inset 0px 30px 11px -35px rgba(0,0,0,0.04); /* if performance issues look into this? */
}

section.open{
    max-height:2000pt;
    box-shadow:inset 0px 30px 11px -20px rgba(0,0,0,0.04);
    transition-property:  max-height;
    cursor:inherit;

}


/* CARDS AND SCROLL CONTAINERS */

.scrollContainer{
    margin-bottom:20pt;
    overflow: scroll;
}


.card{
    margin-left: -15pt;
    margin-right: 35pt;
    padding: 20pt 20pt 15pt 15pt;
    min-width:290pt;
    border: solid 1pt;
    border-color: #00000000;
    transition: border-color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 4pt;
    cursor:pointer;


}

.open .card{
}

.card:hover{
    border-color: var(--colorBorder);
}

.fadeHoriz{
    position: absolute;
    pointer-events: none;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    height: 40%;
    width: 100%;
    z-index: 10;
    opacity: 1;
    transition: opacity 2s;
    bottom: 0;
}

.fadeVert{
    pointer-events: none;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    height: 100%;
    width: 5%;    
    opacity: 1;
    transition: opacity 2s;
    top: 0;
    right: 0;
}



.open .fadeHoriz, .open .fadeVert {
    opacity:0;
}


/* HEADINGS AND FILTERS */

.heading{
    padding-top:30pt;
    margin-bottom: 20pt;
    position: relative;
    z-index:20;
}

.title {  
    display: flex;
    flex-grow: 2;
    cursor: pointer;
}

.chevron{
    padding: 7pt 12pt 10pt 12pt;
    border-radius: 6pt;
    margin-right: 30pt;
    margin-left: -5pt;
    border: 1px solid var(--colorBorder);
    cursor: pointer;
}

.chevron:hover, .title:hover .chevron{
    border: 1px solid var(--colorAccent);
}

.chevron:active, .title:active .chevron{
    filter: brightness(0.8);
}

.chevron svg{
    filter: var(--svgColorFilter);
    transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    transform: rotate(0deg);
}

.open .chevron svg{
    transform: rotate(180deg);
}

.filters{
    flex-grow: 0;
    display: flex;
    overflow: scroll;
    flex-direction: row-reverse;
    margin: 0 30pt 0 auto;
}
.filters .filter{
    font-weight: 400;
    color: var(--color3);
    margin-left:8pt;
    padding: 8pt 15pt;
    border-radius: 6pt;
    border: 1px solid;
    border-color: var(--colorBg);
    user-select:none;
}
h4 .filter{
    border-bottom: 1px solid var(--colorBg);
    margin-right:15pt;
    padding-bottom:4pt;
}

.filter:hover{
    border-color:var(--color4);
    color: var(--color2);
    cursor: pointer;
}

.filter.active{
    color: var(--colorAccent);
    border-color:var(--colorBorder);
}

footer{
    width: 100%;
    border-top: 1pt solid #eeeeee;
    padding: var(--padding);
}


/* ------------------------------------- */
/* text */

/* styling */

h2, h1{
    font-weight:600;
    align-self: flex-end;
    margin-bottom: 10pt;
    color:var(--color1);
    letter-spacing: 10;
}

h3{
    margin-bottom: 5pt;
    font-weight:600;
    align-self: flex-end;
    color:var(--color1);
}

h4, h4 a{
    margin-bottom: 30pt;
    font-weight:400;
    color:var(--color3);
}

p{
    margin-bottom: 10pt;
    line-height: 20pt;
    font-size: 14pt;
    font-weight: 400;
    color: var(--color2);
    cursor:text;
}

span.sudoh4{
    opacity: 0.5;
    font-weight: 400;
}


/* inline styles */
span.highlight, span.code{
    display: inline-block;
    margin-left: -5pt;
    color: var(--color2);
    padding: 1pt 6pt 3pt 6pt;
}

span.highlight{
    background: var(--colorAccent3);
    color:var(--colorAccent2);
    font-size: 14pt;
    font-weight: 400;
}

span.code{
    font-family: monospace;
    font-weight: 500;
    font-size: 14pt;
    background: var(--color5);
    border-radius: 4pt;
}



/* 🌖  dark mode */
@media (prefers-color-scheme: dark) {

}




/*      */
/* MISC */

/* Fix for swipe to go back/forward */
html, body {
    overscroll-behavior-x: none;
}


